<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css" />
  <style>
    #welcomeDiv {
      display: flex;
      justify-items: center;
      flex-direction: column;
      margin-right: 10%;

    }

    #anatop {
      display: flex;
      justify-content: space-between;
    }

    #renk{

      color: blue;
      font-weight: bolder;
      text-transform: uppercase;
    }

    a {
      max-width: 200px;
    }
    .cardContainer{
      display: none;
    }
  
  </style>
  <title>Document</title>
</head>

<body>
  <div id="anatop">
    <h1 class="mt-4"><img src="./images/logo2.png" alt="logologo2" height="50" width="50"> Dashboard</h1>
    <%- include("partials/messages") -%>

    <div id="welcomeDiv">
      <p class="lead mb-3 ">Welcome <span id="renk"><%= user.name %> </span> </p>
      <a href="/logout" class="btn btn-secondary">Logout</a>
    </div>

    
  </div>
  <button id="buttonMessage" onclick="turnOnMessages()"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="35" height="32"><path fill-rule="evenodd" d="M1.75 2A1.75 1.75 0 000 3.75v.736a.75.75 0 000 .027v7.737C0 13.216.784 14 1.75 14h12.5A1.75 1.75 0 0016 12.25v-8.5A1.75 1.75 0 0014.25 2H1.75zM14.5 4.07v-.32a.25.25 0 00-.25-.25H1.75a.25.25 0 00-.25.25v.32L8 7.88l6.5-3.81zm-13 1.74v6.441c0 .138.112.25.25.25h12.5a.25.25 0 00.25-.25V5.809L8.38 9.397a.75.75 0 01-.76 0L1.5 5.809z"></path></svg></button>

  

  <div class="cardContainer" id="cardContainer">
  <% for (let message of messages) { %>


  <div id="card" class="card">
    <div class="card-body">
      <p class="lead mb-3">email: <%= message.email %></p>
      <p class="lead mb-3">phone: <%= message.phone %></p>
      <p class="lead mb-3">option: <%= message.option %></p>
      <p class="lead mb-3">details: <%= message.details %></p>

      <a href='delete/<%= message._id %>'>Delete</a> &nbsp;

    </div>
  </div>


  <% } %>
</div>
<script>
  var buttonIsPressed = 0; 

if (buttonIsPressed == 0) {
  document.getElementById("cardContainer").style.display = "none";

}
  else{
    document.getElementById("cardContainer").style.display = "grid";


  }



function turnOnMessages() {
  if (  buttonIsPressed == 1) {
    document.getElementById("cardContainer").style.display = "none";
    buttonIsPressed = 0
    document.getElementById("button").style.backgroundColor= "#ffffff";

  }
  else{
    document.getElementById("cardContainer").style.display = "list-item";
  buttonIsPressed = 1
  document.getElementById("buttonMessage").style.backgroundColor= "#ccccff";

  }
  


  
}

</script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
  </script>
</body>

</html>